[type="radio"]:checked+span:after{
	border: 2px solid #F55443;
	background-color: #F55443;
}

#task-container,
#task-image-container,
#intro-container,
#incorrect-password-text {
	display: none;
}

.container {
	margin-top: 40px;
}

body {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
